main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    margin: 1rem;
}

.card {
    min-width: fit-content;
    width: 30rem;
    max-width: calc(100vw - 2rem);
    margin: 0 auto;

    position: relative;
}

.card h2 {
    margin-right: 2rem;
}

.card p {
    width: fit-content;
    margin: 0 auto;
}

.cut-button {
    background: none;
    border: none;
    cursor: pointer;

    position: absolute;
    top: 1rem;
    right: 1rem;
}

.hidden {
    display: none;
}

.card.book {
    width: fit-content;
}